body {
	background-image: url(https://wallpaperaccess.com/full/3199302.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

h1 {
	color: #FFFFFF;
	text-align: center;
}

.primeira-frase {
	padding-top: 250px;
}
