body {
    background-color: gold;
}

#resultado {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

h1, h2 {
    color: white;
}
